@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-header">
        <h2>Welcome to our capstone Project</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card col">
                <div class="card-header">
                    <h5>Team members</h5>
                </div>
                <div class="card-body">
                    <p>Caulos Louissaint</p>
                    <p>Rebekkah Odum</p>
                    <p>Evan Rowe</p>
                    <p>Kemi Sipeolu</p>
                    <p>David Tate</p>
                </div>
            </div>
            <div class="card col">
                <div class="card-header">
                    <h5>About our project</h5>
                </div>
                <div class="card-body">
                    <p>This project was done on behalf of Dr. Borchert. A good portion of the code is from
                    his already exsisting repository. The idea of this project was to create a system for 
                    students to use parsons problems for an SQL learning system. 
                    It also implemented a way for professors to create questions on the site itself.
                    This also sends some reasearch data to a firebase database.</p>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
